<a href="https://colab.research.google.com/github/NikGup1/Git-Init-2023/blob/main/MachineLearningHeartFailurePredictionSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import pandas as pd
import os
from sklearn import metrics
import numpy as np
from sklearn.metrics import accuracy_score 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [91]:
heartFailure = pd.read_csv("/content/heart_failure_clinical_records_dataset.csv")

In [92]:
heartFailure.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [93]:
heartFailure.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0

In [103]:
features = ['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 'ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']
labels = 'DEATH_EVENT'

In [106]:
train, test = train_test_split(heartFailure, test_size = 0.25, random_state = 1)
trainX = train[features]
trainY = train[labels]
testX = test[features]
testY = test[labels]

In [155]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=34, max_depth=9)
rf.fit(trainX, trainY)
y_pred = rf.predict(testX)
print("Accuracy: ", metrics.accuracy_score(testY, y_pred))

Accuracy:  0.9333333333333333

In [156]:
predict = {}

print("Please type the integers as prompted")
for feature in features:
  val = input(feature + ":")
  predict[feature] = val 

predict = pd.DataFrame(predict, index=[0])

print 

output = rf.predict(predict)

Please type the integers as prompted
age:62.0
anaemia:0
creatinine_phosphokinase:61
diabetes:1
ejection_fraction:38
high_blood_pressure:1
platelets:155000.0
serum_creatinine:1.1
serum_sodium:143
sex:1
smoking:1
time:270

In [157]:
print("Model Prediction of \'DEATH EVENT\' — ", end = "")
print(output)
print()

if output == [1]:
  print("Based on the model, this data indicates a HIGH-RISK of heart failure.")
if output == [0]:
  print("Based on the model, this data indicates a LOW-RISK of heart failure.")

Model Prediction of 'DEATH EVENT' — [0]

Based on the model, this data indicates a LOW-RISK of heart failure.